# IDEs and editors
*.sublime-workspace
*.sublime-project

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
# IDEs and editors
*.sublime-workspace
*.sublime-project

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
**/.terraform
**/terraform.state*
**/terraform.tfstate*

# credentials
id_rsa*